

<% if @ticking.present? %>
  <%= form_with class:"d-flex", url:  end_timer_project_task_path do |f| %>
    <div class="d-flex justify-content-between">
      <%= f.submit "End timer", class: "btn btn-primary" %>
      
      <h1 class="mx-5" id="timer" timervalue=<%= @ticking.interval_from_start %>></h1>

    </div>
  <% end %>
<% else %>
  <%= form_with class:"d-flex", url:  start_timer_project_task_path do |f| %>
    <%= f.submit "Start timer", class: "btn btn-primary" %>
  <% end %>
<% end %>

<h1>
  <%= @task.title %>
</h1>
<p>
  <%= @task.description %>
</p>

<div class="d-flex">
    deadline:
  <div class="tag ml-1">
    <%= @task.deadline.strftime("%y/%m/%d") %>
  </div>
</div>
<div class="d-flex justify-content-between align-items-center">
  <p>status: <%= @task.status %></p>
  <p>total hours: <%= @total_worked %></p>
  <p>today hours: <%= @total_today %></p>
  <p>time to complete: <%= @task.time_to_complete %> hours</p>
</div>

<% @task.users.each do |user| %>
  <div class="d-flex">
    <%= image_tag avatar_path(current_user, size: 40), height: 20, width: 20, class: "rounded mx-1" %>
    <%= user.email %>
  </div>
<% end %>
<% if current_user.admin? %>
    <%= form_with class:"d-flex", url: add_user_project_task_path(@task) do |f| %>
    <div class="d-flex">
      <p>Add user:</p>
      <%= f.email_field :email, class: 'form-control w-160px mx-2', placeholder: 'user email' %>
    </div>
    <%= f.submit "Add", class: "btn btn-primary" %>
    <% end %>
<% end %>