<nav id="sidebar" class='position-absolute start-4 product-sidebar'>
  <div class="sidebar-header">
    <h4>Members:</h4>
  <% @users.each do |user| %>
    <div class="d-flex align-items-center">
      <i class="fa fa-user mx-1"></i>
      <%= user.email %>
    </div>
  <% end%>
</nav>


<div class="page-header">
  <%= link_to projects_path, class: 'btn btn-default' do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
  <% if @project.owner?(current_user) %>
    <%= link_to edit_project_path(@project), class: 'btn btn-primary' do %>
      Edit
    <% end %>
  <% end %>
  <%= link_to new_project_task_path(@project), class: 'btn btn-primary' do %>
    New task
  <% end %>
</div>

<h1><%= @project.title %></h1>
<p><%= @project.description %></p>

<% if @project.tasks.any? %>
  <h2>Tasks</h2>  
  <div class="d-flex">
  <div class="board-col">
    <h3>Draft</h3>
    <%= render @project.tasks.draft%>
  </div>
  <div class="board-col">
    <h3>In Progress</h3>
      <%= render @project.tasks.in_progress%>
    </div>
    <div class="board-col">
      <h3>Done</h3>
      <%= render @project.tasks.completed%>
    </div>
  </div>
<% end %>

