


<div class="row">
  <div class="col-sm-6">
    <h1>My Working Times</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_working_time_path, class: 'btn btn-primary' do %>
    Add New Working time
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Started at</th>
            <th>Ended at</th>
            <th>Bio</th>
            <th>User</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @working_times.each do |working_time| %>
        <%= content_tag :tr, id: dom_id(working_time), class: dom_class(working_time) do %>
          

                      <td><%= print_time working_time.started_at %></td>
                      <td><%= print_time working_time.ended_at %></td>
                      <td><%= working_time.bio %></td>
                      <td><%= working_time.user.email %></td>
          
          
            <td><%= link_to 'Show', working_time %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
